<div class="game-area">
    <div class="form-group">
        <label>ConnectionID:</label>
        <label id="lblConnectionID"></label>
    </div>
    <div class="text-end">
            <input type="button" id="dealButton" value="Deal"/>
    </div>
    <div>
        <label>Your Hand:</label>
        <div id="your-hand"></div>
    </div>
</div>
<script defer asp-append-version=true src="~/js/crazyEights.js"></script>

