@page
@model CardGame.Server.Pages.Game
<div class="game-box">
    <partial name="Shared/_ChatSideBar"></partial>
    <partial name="Shared/_CrazyEightsGameMat"></partial>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
